<footer class="ct-footer">
  <div class="item_wrapper">
                <div class="container">
                    <form name="contentForm" enctype="multipart/form-data" method="post" action="">
                        <div class="ct-footer-pre text-center-lg">
                            <div class="inner">
                                <span>Join Comids to receive updates, news &amp; events!</span>
                            </div>
                            <div class="inner">
                                <div class="form-group">
                                    <input name="formfields[nl_email]" id="nl_email" class="validate[required]" placeholder="Enter your email address" type="text" value=""> <label for="nl_email" class="sr-only">Email Address</label> <button type="submit" class="btn btn-motive">Join</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <div class="ct-footer-meta text-center-sm">
                        <div class="row">
                            <div class="col-sm-6 col-md-2">
                                <img src="https://www.freelogodesign.org/file/app/client/thumb/aaf80d72-e869-4fdd-a5ba-1863159a71f7_200x200.png?1569553704256" width="150" height="100"/> 
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <address>
                                    <span>Instituto Nacional de Telecomunicações<br></span>Av. João de Camargo, 510 - Centro, Santa Rita do Sapucaí - MG, 37540-000<br>
                                    <span>Phone: <a href="tel:5555555555">(35) 3471-9200</a></span>
                                </address>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <ul class="ct-socials list-unstyled list-inline">
                                    <li>
                                        <a href="" target="_blank"><img alt="facebook" src="https://raw.githubusercontent.com/solodev/responsive-footer/master/images/facebook-white.png"></a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank"><img alt="twitter" src="https://raw.githubusercontent.com/solodev/responsive-footer/master/images/twitter-white.png"></a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank"><img alt="youtube" src="https://raw.githubusercontent.com/solodev/responsive-footer/master/images/youtube-white.png"></a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank"><img alt="instagram" src="https://raw.githubusercontent.com/solodev/responsive-footer/master/images/instagram-white.png"></a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank"><img alt="pinterest" src="https://raw.githubusercontent.com/solodev/responsive-footer/master/images/pinterest-white.png"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ct-footer-post">
                    <div class="container">
                        <div class="inner-left">
                            <ul>
                                <li>
                                    <a href="">FAQ</a>
                                </li>
                                <li>
                                    <a href="">News</a>
                                </li>
                                <li>
                                    <a href="">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div class="inner-right">
                            <p>
                                Copyright © 2019 Comids.&nbsp;<a href="">Privacy Policy</a>
                            </p>
                        </div>
                    </div> </div>
                </div>
            </footer>