<div class="skipLink">
    <a [href]="skipLinkPath">Skip to Main Content</a>
  </div>
  <nav
    class="navbar navbar-expand-sm navbar-light border-bottom justify-content-between"
  >
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <br/><br/>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <img src="https://www.freelogodesign.org/file/app/client/thumb/aaf80d72-e869-4fdd-a5ba-1863159a71f7_200x200.png?1569553704256" width="150" height="100"/> 
        </div>
    </div>
</nav>
   